h1{
    color:green;
}

div {
    padding : 5px;
    border : 2px double rgb(114, 114, 114);
    margin : 5px;
    background-color:beige; 
}

h3 {
    text-align: center;
    text-decoration: underline;
}


h1, h2 {
    border-style: solid;
    border-width: thick;
    border-color: lightyellow;
    border-radius: 30%;
    padding : 20px;
    text-align: center;
}

a:link, a:visited {
    background: #ffffff;
    color: rgb(0, 117, 53);
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    padding: 10px;
}

a:hover, a:active {
     background-color: rgb(51, 51, 51);
}

body {
    background-color:#f2fff0;
    border : 15px solid rgb(255, 255, 255);
    padding : 5px;
}

h1 { 
    padding: 0.43em 1em; 
    font-size: 19px; 
    border-radius: 3px; 
    color: #A6BF4B;
}

h5 {
    font-family: serif;
    color:#858582;
}

button {
    background: #0097008e;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    padding: 10px;
}

.d1 {
    color: #858582;
    font-family:inherit;
}