<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" type="text/css" href={% static 'songStyle.css' %}/>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <a href = "{%url 'home'%}" >
        <img src = "{% static 'melon.jpg'%}" alt = "" width = "80" height = "40" >
    </a>
<div class= "container">
    {% block containt %}
    {% endblock %}
</div>
</body>
</html>